<!DOCTYPE html>
<html>
<head>
<style>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="C:\Users\Anila\schedule\static\css\style.css">
	<title>Flask App</title>
</style>
</head>
<center>
<body>
    <h1> Welcome to Schedule Task</h1>
           <a href="base.html">
            <h2>Flask app</h2>
        </a>
        <span class="badge badge-primary">creating the tasks to each individual</span>
        <a href="edit.html">
            <span class="badge badge-warning">Edit</span>
        </a>
</center>
</body>
</html>
