<!DOCTYPE html>
<html>
<head>
	<title>Flask App</title>
</head>
<center>
<body>
    <div class="container">
        <h1> Welcome to Schedule Task</h1>
        <p>Task Scheduler is a component of Microsoft Windows that provides the ability to schedule the launch of programs or scripts at pre-defined times or after specified time intervals: job scheduling.</p>
        <br>
        <h2>Showing the Scheduled Tasks</h2>
            <br>
            <h2>['First Task']</h2>
        </a>
        <span class="badge badge-primary">2020-26-09 7:48PM</span>
            <br>
            <h2>['Second Task']</h2>
        </a>
        <span class="badge badge-secondary">2020-26-09 7:48PM</span>
    </div>
    <p> new tasks are created and displayed</p>
</center>
</body>
</html>